asyncio==3.4.3
BingImageCreator==0.4.4
EdgeGPT==0.13.2
fastapi==0.101.1
fastapi-utils==0.2.1
fastparquet==2023.2.0
google-api-core==2.10.0
google-api-python-client==2.97.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-cloud-appengine-logging==1.1.0
google-cloud-audit-log==0.2.0
google-cloud-core==2.3.2
google-cloud-logging==2.7.2
google-cloud-storage==2.5.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.4
ipykernel
ipython==8.7.0
jupyter_client
jupyter_core
loguru==0.6.0
numpy==1.25.2
pandas==2.0.3
python-dateutil
pytz==2023.3
scikit-image==0.21.0
selenium==4.11.2