body #call, #sendnews, #sendnewsbox, .info{
    background-color: #FFF;
}



@media screen and (max-width:768px) {
    
    body{
        background-color: #FFF;
        font-family: sans-serif;
        margin: 0 auto;
        overflow: auto;
        position: relative;
    }
    header{
        height: 64px;
        flex-shrink: 0;
        background: #F00;
        padding: 0px;
    }
    footer {
            height: 48px;
            flex-shrink: 0;
            background: #F00;
            padding: 0px;
            text-align: center;
        }
    footer p {
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    #logo {
        color: #FFF;
        flex-shrink: 0;
        text-align: center;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0 auto;
    }
}
@media screen and (min-width: 769px) {
    body{
        font-family: sans-serif;
        margin: 0 auto;
        overflow: auto;
        position: relative;

    }
    header{
        height: 64px;
        flex-shrink: 0;
        background: #F00;
        padding: 0px;
    }
    footer {
            height: 48px;
            flex-shrink: 0;
            background: #F00;
            padding: 0px;
            text-align: center;
        }
    footer p {
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    #logo {
        color: #FFF;
        flex-shrink: 0;
        text-align: center;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0 auto;
    }

    /* Notícia Principal*/
    #mainnews {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #mainNews img { 
        width: 85%;
        height: 32%;
        margin: 0 auto;
    }

    /* Notícias Constante*/
    #news {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 20px;
    }
    .floatnews {
        width: 300px;
        height: 75px;
        border: 1px solid #F00;
    }
    #post img {
        width: 32px;
        height: 32px;
    }
    #posts {
        display: flex;
        align-items: center;
        border:  10px black;
        padding: 20px;
        border-radius: 5px;
        background: #D9D9D9;
        
    }
    .brnews img {
        width: 256px;
        height: 256px;
        margin: 0 auto;
        display: block;
        border: 1px solid #F00;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: all 0.5s ease;
        cursor: pointer;
        position: relative;

    }

    /* Formulário*/
    .sendnews {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F00;
        width: 1330px;
        height: 644px;
        gap: 20px;
        margin: auto
    }
    .sendnews p {
        color: #FFF;
        width: 482px;
        height: 339px;
        font-size: 64px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    #call{
        width: 678px;
    }
    #call h2, h3 {
        color: #F00;
    }
    .info {
        display: flex;
        gap: 20px 20px;
        margin: auto;
    }
    #sendnewsbox { width: 678px;
        height: 422px;
        font-size: 24px;
    }
}